@{
    ViewBag.Title = "Home Page";
}

<div id="root"></div>


<script type="text/javascript">
    // set locale before JSAPI is loaded
dojoConfig = {
  locale: "ar",
  parseOnLoad: true,
};


</script>


@Scripts.Render("~/Scripts/dist/index.js")